<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weapon.joker.app.mine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/MyDialog" />

        <activity android:name=".login.QQAuthLoginActivity" />
        <activity
            android:name=".login.RegisterActivity"
            android:theme="@style/MyDialog" />

        <activity android:name=".about.AboutActivity"/>

    </application>

</manifest>