<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.weapon.joker.lib.net"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name=".BaseApplication"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
